.form-item{
  padding: 10px;
}

.input-group{
    background-color: hsla(350, 100%, 88%, 0.102) 100%, 88%, 0.102);
  }

.input-group p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
.error-msg{
    color:red;
    padding: 5px 0 0;
}
.error-input{
    border: 1px solid red;
    border-radius: 1px;

}
